*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #baf266;
  --secondary-color: #daf280;
  --bg-color: #baf2669f;
}

body {
  background: radial-gradient(circle at 164px -245px, #89e989 -350px, transparent 641px), radial-gradient(circle at 735px 1255px, #89e989 -660px, transparent 361px),
    radial-gradient(circle at 135px 525px, #a0cfa0 -570px, transparent 331px), radial-gradient(circle at 925px 165px, #89e989 -370px, transparent 361px),
    radial-gradient(circle at 2275px 1915px, #89e989 -630px, transparent 551px), radial-gradient(circle at 1045px 2045px, #89e989 -740px, transparent 411px),
    radial-gradient(circle at 75px 1675px, #89e989 -540px, transparent 551px), radial-gradient(circle at 2275px 25px, #89e989 -540px, transparent 881px);
  background-repeat: no-repeat;
  background-color: var(--c1);
  background-size: 100% 100%;
  background-color: var(--bg-color);
  color: #242424;
  accent-color: #589300;
  backdrop-filter: blur(10px);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-size: larger;
  padding: 5px;
  border: none;
  box-shadow: -1px 3px 0px black;
  border-radius: 9px;
  background-color: #baf266;
  transition: all 0.2s;
  margin: 10px 0;
  cursor: pointer;
}
button:hover {
  box-shadow: -1px 6px 0px black;
  background-color: #afff2f;
}

input {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #baf267;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-message {
  text-align: center;
}
.connect-message a {
  color: inherit;
  font-size: large;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border: 5px solid #baf266;
  border-radius: 16px;
  max-width: 100%;
  box-shadow: -5px 9px 9px #ababab59;
}

div {
  margin: 0 0 10px 0;
}

.wallet-address-container {
  text-align: center;
}

.Predictions {
  display: flex;
  gap: 20px;
}

.Predictions > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Predictions > div > div {
  background-color: #f5f5f5;
  padding: 20px;
  border: 5px solid #baf266;
  border-radius: 16px;
  box-shadow: -5px 9px 9px #ababab59;
}
