*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #242424;
  accent-color: #589300;
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    41deg,
    #00000000 0%,
    #00000000 10%,
    #8bc34a 10%,
    #8bc34a 11%,
    #00000000 11%,
    #00000000 13%,
    #8bc34a 13%,
    #8bc34a 14%,
    #00000000 14%,
    #00000000 16%,
    #8bc34a 16%,
    #8bc34a 17%,
    #00000000 17%,
    #00000000 19%,
    #8bc34a 19%,
    #8bc34a 20%,
    #00000000 20%,
    #00000000 21%
  );

  background-position: bottom left; /* Çizgileri sol alt köşede sabitle */
  background-size: 100% 100%; /* Çizgilerin tekrar boyutu */
  background-repeat: no-repeat;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-size: larger;
  padding: 5px;
  border: none;
  box-shadow: -1px 3px 0px black;
  border-radius: 9px;
  background-color: #8bc34a;
  transition: all 0.2s;
  margin: 10px 0;
  cursor: pointer;
}
button:hover {
  box-shadow: -1px 6px 0px black;
  background-color: #afff2f;
}

input {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #baf267;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-message {
  text-align: center;
}
.connect-message a {
  color: inherit;
  font-size: large;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border: 5px solid #8bc34a;
  max-width: 100%;
  box-shadow: -10px 10px 0 0 #a5d6a7, /* en hafif gölge */ -20px 20px 0 0 #66bb6a, /* orta gölge */ -30px 30px 0 0 #2e7d32;
}

div {
  margin: 0 0 10px 0;
}

.wallet-address-container {
  text-align: center;
}

.Predictions {
  display: flex;
  gap: 20px;
}

.Predictions > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Predictions > div > div {
  background-color: #f5f5f5;
  padding: 20px;
  border: 5px solid #8bc34a;
  border-radius: 16px;
  box-shadow: -5px 9px 9px #ababab59;
}
