*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #baf266;
  --secondary-color: #daf280;
  --bg-color: #baf2669f;
}

body {
  background: radial-gradient(circle at 544px 625px, #0ba50b -110px, transparent 441px), radial-gradient(circle at 1205px 1255px, #0ba50b -110px, transparent 411px),
  radial-gradient(circle at 135px 525px, #0bad0b -20px, transparent 331px), radial-gradient(circle at 915px 165px, #0bad0b -170px, transparent 361px),
  radial-gradient(circle at 2285px 1915px, #0ba50b 90px, transparent 551px), radial-gradient(circle at 1475px 725px, #0ba50b 30px, transparent 341px),
  radial-gradient(circle at 85px 1675px, #0bad0b -50px, transparent 551px), radial-gradient(circle at 2295px 25px, #0bad0b 130px, transparent 881px);  background-repeat: no-repeat;
  background-color: var(--c1);
  background-size: 100% 100%;
  /* animation: background 150s infinite reverse; */
}
/* @keyframes background {
  from {
    background: radial-gradient(circle at 44px 425px, #0ba50b 90px, transparent 441px), radial-gradient(circle at 1005px 955px, #0ba50b 90px, transparent 311px),
      radial-gradient(circle at 435px 825px, #0bad0b -20px, transparent 231px), radial-gradient(circle at 1215px 165px, #0bad0b 30px, transparent 161px),
      radial-gradient(circle at 1755px 1735px, #0ba50b 90px, transparent 441px), radial-gradient(circle at 1475px 725px, #0ba50b 30px, transparent 341px),
      radial-gradient(circle at 365px 1395px, #0bad0b 90px, transparent 271px), radial-gradient(circle at 2055px 535px, #0bad0b 250px, transparent 711px);
  }
  to {
    background: radial-gradient(circle at 544px 625px, #0ba50b -110px, transparent 441px), radial-gradient(circle at 1205px 1255px, #0ba50b -110px, transparent 411px),
      radial-gradient(circle at 135px 525px, #0bad0b -20px, transparent 331px), radial-gradient(circle at 915px 165px, #0bad0b -170px, transparent 361px),
      radial-gradient(circle at 2285px 1915px, #0ba50b 90px, transparent 551px), radial-gradient(circle at 1475px 725px, #0ba50b 30px, transparent 341px),
      radial-gradient(circle at 85px 1675px, #0bad0b -50px, transparent 551px), radial-gradient(circle at 2295px 25px, #0bad0b 130px, transparent 881px);
  }
} */
.App {
  background-color: var(--bg-color);
  color: #242424;
  accent-color: #589300;
  backdrop-filter: blur(10px);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

button {
  font-size: larger;
  padding: 5px;
  border: none;
  box-shadow: -1px 3px 0px black;
  border-radius: 9px;
  background-color: #baf266;
  transition: all 0.2s;
  margin: 10px 0;
  cursor: pointer;
}
button:hover {
  box-shadow: -1px 6px 0px black;
  background-color: #afff2f;
}

input {
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #baf267;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

.message-popup {
  position: absolute;
  bottom: 20px;
  left: 50px;
  max-width: 800px;
  padding: 20px;
  word-wrap: break-word;
  animation: popup 0.5s both;
}
.message-popup::before {
  content: "X";
  top: 20px;
  right: 30px;
  position: relative;
}
.message-popup.warning {
  color: red;
  border: red 3px solid;
  background-color: #ffb9b9;
}
.message-popup.subject {
  color: #639b0d;
  border: greenyellow 3px solid;
  background-color: #daffa2;
}
@keyframes popup {
  from {
    left: -100%;
  }
  to {
    left: 50px;
  }
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-message {
  text-align: center;
}
.connect-message a {
  color: inherit;
  font-size: large;
  text-decoration: none;
  color: #76b11d;
  font-weight: 500;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border: 5px solid #baf266;
  border-radius: 16px;
  max-width: 100%;
  box-shadow: -5px 9px 9px #ababab59;
}

div {
  margin: 0 0 10px 0;
}

.wallet-address-container {
  text-align: center;
}

.Predictions {
  display: flex;
  gap: 20px;
}

.Predictions > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Predictions > div > div {
  background-color: #f5f5f5;
  padding: 20px;
  border: 5px solid #baf266;
  border-radius: 16px;
  box-shadow: -5px 9px 9px #ababab59;
}
